{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<div class="formations">
    {% for formation in formations %}
        <a class="card" href="{{ path('detail_formation', {'id': formation.id}) }}">{{ formation.nomFormation}}</a>
    {% endfor %}
</div>    
{% endblock %}
