@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
    overflow-x: hidden;
}

#loginMain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        45deg,
        hsl(200deg 37% 8%) 0%,
        hsl(194deg 25% 13%) 50%,
        hsl(189deg 15% 18%) 100%
    );
}

.login{
    background-color:#F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.login h1{
    font-weight: 300;
}

.email{
    width: 90%;
    background-color: #e2e2e2;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
}

.password{
    width: 90%;
    background-color: #e2e2e2;
    border-radius: 5px;
    border: none;   
    outline: none;
    margin-top: 20px;
    padding: 10px;
}

.btnConnexion{
    width: 100px;
    background-color: #0085FF;
    border-radius: 5px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
    color: #F1F1F1;
    transition: .3s;
}

.btnConnexion:hover{
    cursor: pointer;
    background-color: #0a74d8;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-image: linear-gradient(
        45deg,
        hsl(200deg 37% 8%) 0%,
        hsl(194deg 25% 13%) 50%,
        hsl(189deg 15% 18%) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav #imageProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}

nav #imageProfil img{
    height: 150px;
    object-fit:cover;
}

nav #pseudo{
    color: #F1F1F1;
    font-size: 1.5rem;
}

nav ul{
    margin-top: 200px;
}

nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

nav li a{
    width: 150px;
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    color: #8c8c8c;
    background-color: #0084ff00;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    transition: .3s;
}

nav li a:hover{
    color: #F1F1F1;
}

nav #btnDeconnexion{
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    color: #F1F1F1;
    background-color: #892E2E;
    text-transform: uppercase;
}

nav #btnDeconnexion:hover{
    background-color: #5f2121;
}


body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #cccccc;
}

.formations{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 1240px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.formations .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: #2A3436;
    color: #F1F1F1;
}

#sessionMain{
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#sessionMain h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

#formationMain{
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#detailMain{
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#detailMain h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.selecteur{
    height: fit-content;
    margin-top: 20px;
    padding: 5px 0;
    background-color: #e2e2e2;
    border-radius: 5px;
}

.selecteur span{
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s;
}

.selecteur span:hover:not(.btnActive){
    cursor: pointer;
    background-color:#cbcbcb;
}

.btnActive{
    background-color: #0085FF;
    color: #F1F1F1;
}

.tables{
margin-top: 20px;
}

#currentSessions{
    background-color: rgb(166, 96, 96);
}

#upcomingSessions{
    display: none;
    background-color: rgb(122, 165, 122);
}

#pastSessions{
    display: none;
    background-color: rgb(133, 133, 172);
}

table{
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

th {
    padding: 10px;
    background-color: #2A3436;
    color: #F1F1F1;
    font-weight: 400;
}

td {
    padding: 10px;
}

tr:nth-child(even){
    background-color: #efefef;
}

tr:nth-child(odd){
    background-color: #e2e2e2;
}

#stagiairesMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 88vw;
}

#stagiairesMain h1{
    width: 100%;
    text-align: center;
}

#stagiairesMain .stagiaires{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

#stagiairesMain .stagiaire {
    margin: 5px;
    padding: 0 10px;
    border-radius: 20px;
    color: #f1f1f1;
    background-color: rgb(26, 49, 63); 
    transition: .3s;
}

#stagiairesMain .stagiaire:hover {
    background-color: #0a74d8;     
}

#stagiairesMain .searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#stagiairesMain #searchBar {
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 30   0px;
    border: none;
    background-color: #e2e2e2;
}

#stagiairesMain ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

