@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
}

#btnBurger{
    position: fixed;
    flex-direction: column;
    gap: 5px;
    top: 10px;
    left: 10px;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    transition: .3s;
}

#btnBurger span{
    width: 30px;
    height: 2px;
    background-color: #1c1c1c;
    transition: .3s;
}


/* ----------------------------------LOGIN-------------------------------- */

#loginMain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        45deg,
        hsl(200deg 37% 8%) 0%,
        hsl(194deg 25% 13%) 50%,
        hsl(189deg 15% 18%) 100%
    );
}

.login{
    background-color:#F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.login h1{
    font-weight: 300;
}

.email{
    width: 90%;
    background-color: #e2e2e2;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
}

.password{
    width: 90%;
    background-color: #e2e2e2;
    border-radius: 5px;
    border: none;   
    outline: none;
    margin-top: 20px;
    padding: 10px;
}

.btnConnexion{
    width: 100px;
    background-color: #0085FF;
    border-radius: 5px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
    color: #F1F1F1;
    transition: .3s;
}

.btnConnexion:hover{
    cursor: pointer;
    background-color: #0a74d8;
}

/* ----------------------------------------EDIT USER----------------------------- */
#editMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 88vw;
}

#editMain .form{
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

#editMain .form h2{
    width: 100%;
    text-align: center;
}

#editMain .form .btnAjouter{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* -------------------------------------------NAV-------------------------------- */
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 200px;
    background-image: linear-gradient(
        45deg,
        hsl(200deg 37% 8%) 0%,
        hsl(194deg 25% 13%) 50%,
        hsl(189deg 15% 18%) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

nav #imageProfil{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}

nav #imageProfil img{
    height: 150px;
    object-fit:cover;
}

nav #imageProfil .editProfil{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.557) ;
    transition: .3s;
}

nav #imageProfil:hover .editProfil {
    display: flex;
    cursor: pointer;
}

nav #imageProfil .editProfil .fa-pen-to-square {
    color: #f1f1f1;
    font-size: 1.5rem;
}

nav #pseudo{
    color: #F1F1F1;
    font-size: 1.5rem;
}

nav ul{
    margin-top: 200px;
}

nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

nav li a{
    width: 150px;
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    color: #8c8c8c;
    background-color: #0084ff00;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    transition: .3s;
}

nav li a:hover{
    color: #F1F1F1;
}

nav #btnDeconnexion{
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    color: #F1F1F1;
    background-color: #892E2E;
    text-transform: uppercase;
}

nav #btnDeconnexion:hover{
    background-color: #5f2121;
}


body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #cccccc;
}



/* ------------------------------------FORMATIONS-------------------------------- */
#formationMain{
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formations{
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 1240px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.formations h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.formations .card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: #2A3436;
    color: #F1F1F1;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

#formationMain #divBtn{
    margin-bottom: 20px;
}

#formationMain #overlay{
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* ------------------------------------SESSIONS------------------------------------ */

#sessionMain{
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#sessionMain h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.selecteur{
    height: fit-content;
    margin-top: 20px;
    padding: 5px 0;
    background-color: #e2e2e2;
    border-radius: 5px;
}

.selecteur span{
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s;
}

.selecteur span:hover:not(.btnActive){
    cursor: pointer;
    background-color:#cbcbcb;
}

.btnActive{
    background-color: #0085FF;
    color: #F1F1F1;
}

.tables{
    margin-top: 20px;
    }
    
    #currentSessions{
        background-color: rgb(166, 96, 96);
    }
    
    #upcomingSessions{
        display: none;
        background-color: rgb(122, 165, 122);
    }
    
    #pastSessions{
        display: none;
        background-color: rgb(133, 133, 172);
    }
    
    table{
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
    }
    
    th {
        padding: 10px;
        background-color: #2A3436;
        color: #F1F1F1;
        font-weight: 400;
    }
    
    td {
        padding: 10px;
    }
    
    tr:nth-child(even){
        background-color: #efefef;
    }
    
    tr:nth-child(odd){
        background-color: #e2e2e2;
    }

    .actions{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .actions .fa-arrow-up-right-from-square{
        color: #0085FF;
        transition: .3s;
    }

    .actions .fa-arrow-up-right-from-square:hover{
        color: #00529f;
    }

    .actions .fa-xmark{
        color: #ab0d0d;
        transition: .3s;
    }

    .actions .fa-xmark:hover{
        color: #6d0000;
    }

    .fa-circle{
        font-size: .6rem;
    }

    .enCours{
        color: orange;
    }

    .termine{
        color: rgb(101, 101, 101);
    }

    .complet{
        color: rgb(136, 43, 43);
    }

    .disponible{
        color: rgb(26, 134, 72);
    }

/* -----------------------------------------DETAILS SESSION------------------------ */

#detailSessionMain .fa-plus{
    position: absolute;
    top: 0px;
    right: -10px;
    color: #f1f1f1;
    background-color: green;
    padding:  4px 6px;
    border-radius: 0 20px 20px 0;
}

#detailSessionMain .fa-plus:hover{
    background-color: rgb(3, 83, 3);
}

.modules .fa-xmark, #detailSessionMain .stagiaires .fa-xmark {
    position: absolute;
    top: 0;
    right: -10px;
    color: #f1f1f1;
    background-color: #892E2E;
    padding:  4px 8px;
    border-radius: 0 20px 20px 0;
}

#detailSessionMain .modules .fa-xmark:hover{
    background-color: #5f2121;
}
#detailSessionMain h3{
    width: 100%;
    text-align: center;
}

#detailSessionMain ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
}

#detailSessionMain #results{
    gap: 10px;
}

#detailSessionMain{
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detailSessionMain li{
    position: relative;
    overflow: visible;
    list-style: none;
}

.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.infos h2{
    width: 100%;
    text-align: center;
}

.infos .session{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
}

.infos .modules {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
}

.modules h3{
    width: 100%;
}

#detailSessionMain .modules .fa-xmark{
    top: 5px;
}

#detailSessionMain .modules .fa-plus{
    top: 5px;
    right: -6px;
    height: 25px;
}

.autresModules{
    margin-top: 30px;
}

.module {
    margin: 5px 5px 5px 10px;
    padding:  0 15px 0 10px;
    border-radius: 20px;
    color: #f1f1f1;
    background-color: rgb(26, 49, 63); 
    transition: .3s;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
}

.module input{
    outline: none;
    border: none;
    background-color: #cbcbcb;
    color: #1c1c1c;
    width: 60px;
    height: 25px;
    padding: 0 5px;
    text-align: center;
}

.module input.fa-solid.fa-plus{
    width: 30px;
}

.infos .stagiaires {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
}

#detailSessionMain .inscrits{
    width: 100%;
}

#detailSessionMain .nonInscrits{
    width: 100%;
    margin-top: 30px;
    overflow-x: visible;
}

#detailSessionMain .session #divBtn{
    position: absolute;
    top: -10px;
    right: 10px;
    width: fit-content;
}
/* ----------------------------------------------------CATEGORIES---------------------------------- */
#categorieMain{
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.categories{
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 1240px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.categories h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.categories .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #2A3436;
    color: #F1F1F1;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

#categorieMain #divBtn{
    margin-bottom: 20px;
}

#categorieMain #overlay{
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* ------------------------------------------------------DETAIL CATEGORIES--------------------------------- */

#detailCategorieMain{
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detailCategorieMain .modules{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
}

#detailCategorieMain ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow: visible;
}

#detailCategorieMain li{
    position: relative;
    overflow: visible;
    list-style: none;
}

#detailCategorieMain .modules .fa-xmark{
    position: absolute;
    top: 5px;
    right: -10px;
    color: #f1f1f1;
    background-color: #892E2E;
    padding:  4px 8px;
    border-radius: 0 20px 20px 0;
}

/* -------------------------------------------------------- */

#detailMain{
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detailMain h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

#detailMain h3{
    width: 100%;
    text-align: center;
}

/* ------------------------------REFERENTS---------------------------- */
#referentsMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 88vw;
}

#referentsMain h1{
    width: 100%;
    text-align: center;
}

#referentsMain ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.referents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.referent {
    margin: 5px;
    padding:  0 15px 0 10px;
    border-radius: 20px;
    color: #f1f1f1;
    background-color: rgb(26, 49, 63); 
    transition: .3s;
}

.referent:hover {
    background-color: #0a74d8;     
}
/* ------------------------------DETAILS REFERENTS---------------------------- */
.ficheReferent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.infosReferent {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
}

.sessionsReferent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btnSupprimerReferent{
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    color: #F1F1F1;
    background-color: #892E2E;
    text-transform: uppercase;
    transition: .2s;
}
.btnSupprimerReferent:hover{    
    background-color: #5f2121;
}

#detailMain .infosReferent #divBtn{
    position: absolute;
    top: -10px;
    right: 10px;
    width: fit-content;
}
/* ------------------------------STAGIAIRES---------------------------- */

#stagiairesMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 88vw;
}

#stagiairesMain h1{
    width: 100%;
    text-align: center;
}

.stagiaires{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.stagiaire {
    margin: 5px;
    padding:  0 15px 0 10px;
    border-radius: 20px;
    color: #f1f1f1;
    background-color: rgb(26, 49, 63); 
    transition: .3s;
}

.stagiaire:hover {
    background-color: #0a74d8;     
}

.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#searchBar {
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 30   0px;
    border: none;
    background-color: #e2e2e2;
}

#stagiairesMain ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#detailMain ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#divBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnAjout {
    margin-top: 20px;
    background-color: rgb(14, 174, 14);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    text-transform: uppercase;
    font-weight: 400;
    transition: .3s;
}

#btnAjout:hover {
    background-color: green;
    cursor: pointer;
}

#overlay {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 88vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
    z-index: 999;
}

#overlay .form{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

#overlay .form .fa-xmark{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 1.7rem;
    color: rgb(161, 26, 26);
}

#overlay .form .fa-xmark:hover{
    cursor: pointer;    
}

#overlay .form .formRow{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
}

#overlay .form .btnAjouter{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

/* ----------------------------------------------DETAILS STAGIAIRE------------------------------------ */

.ficheStagiaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.infosStagiaire {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
}

.sessionsStagiaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

 .sessionsStagiaire .actions .fa-user-xmark{
    color: #7e0909;
    transition: .3s;
 }

 .sessionsStagiaire .actions .fa-user-xmark:hover{
    color: #6d0000;
 }



.btnSupprimerStagiaire{
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    color: #F1F1F1;
    background-color: #892E2E;
    text-transform: uppercase;
    transition: .2s;
}
.btnSupprimerStagiaire:hover{
    
    background-color: #5f2121;
}

.hidden {
    display: none;
}

#detailMain .infosStagiaire #divBtn{
    position: absolute;
    top: -10px;
    right: 10px;
    width: fit-content;
}

/* ----------------------------------------------RESPONSIVE-------------------------------------------- */
@media screen and (max-width: 426px){
    nav{
        left: -200px;
        transition: .3s;
    }

    #editMain, #formationMain, #sessionMain, #detailSessionMain, #categorieMain, #detailCategorieMain, #detailMain, #referentsMain, #stagiairesMain{
        width: 100%;
    }

    #overlay{
        width: 100vw;
        height: 100vh;
    }    

    #overlay .form{  
        margin: 5px;
    }

    h1{
        font-size: 1rem;
    }

    /* ----------------------------------FORMATIONS-------------------------- */
    .formations{
        width: 100%;
        margin-top: 0px;
        padding: 0;
    }

    .formations .card{
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    /* -------------------------------DETAILS FORMATION----------------------- */
    #detailMain{
        justify-content: flex-start;
    }

    /* ----------------------------------SESSIONS---------------------------- */
    .selecteur{
        min-height: 34px;
    }

    .selecteur span {
        min-height: 34px;
    }

    .tables{
        max-width: 425px;
        max-height: 700px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .tables table{
        border-radius: 0px;
    }

    .tables thead, tr{
        display: table;
        width: 1200px;
        table-layout: fixed;
    }

    .tables tbody{
        max-height: 650px;
        width: 1200px;
        overflow-y: scroll;
        display: block;
        text-align: center;
    }

    .tables td{
        width: 150px;
    }

    .actions{
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #btnAjout{
        margin-bottom: 15px;
    }

    /* -------------------------------DETAILS SESSION------------------------------ */
    .infos{
        width: 100%;
    }

    .infos .modules{
        padding: 10px;
    }

    .modules ul{
        max-height: 100px;
        overflow-y: scroll;
    }

    #detailSessionMain #results{
        max-height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #detailSessionMain ul {
        overflow-y: scroll;
        overflow-x:hidden;
    }

    /* -------------------------------CATEGORIES------------------------------------ */
    .categories{
        height: 100%;
        width: 100%;
        margin-top: 0px;
    }

    /* --------------------------------REFERENTS------------------------------------ */
    #referentsMain{
        align-items: flex-start;
        height: fit-content;
        padding-top: 5px;
    }

    .referents{
        width: 95%;
        margin-top: 20px;
    }

    /* ------------------------------DETAILS REFERENT-------------------------------- */
    .ficheReferent{
        padding: 0;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        justify-content: start;
    }

    .infosReferent{
        margin: 0 15px;
        margin-bottom: 20px;
    }
    
    .sessionsReferent{
        height: fit-content;
        width: 100%;
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: start;
    }

    h2{
        width: 100%;
        text-align: center;
    }

    .sessionsReferent table{
        width: 100%;
        border-radius: 0;
    }

    .sessionsReferent thead, tr{
        display: table;
        width: 1200px;
        table-layout: fixed;
    }

    .sessionsReferent tbody{
        max-height: 600px;
        width: 1200px;
        overflow-y: scroll;
        display: block;
        text-align: center;
    }

    .sessionsReferent td{
        width: 150px;
    }
}





