{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<main id="stagiairesMain">
    <div class="stagiaires">
        <div class="searchBar">
            <input id="searchBar" onkeyup="affStagiaires()" type="text" placeholder="Rechercher un stagiaire">
        </div>
        <ul id='results'>
            {% for stagiaire in stagiaires %}
            <li class='result'>
                <a class="stagiaire" href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </main>  
{% endblock %}
